a{
    text-decoration: none;
    color: #555;
}

a:hover{
    text-decoration: underline;
}

#jordan{
    color: #999;
}

.main{
    height: 231px;
    vertical-align: baseline;
    padding-bottom: 20px;
    margin-top: 200px;
}

.top{
    display: inline;
    float: right;
    position:relative;
    margin-right: 12px;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 100;
    font-family: sans-serif;
}

.menu{
}

.button{
    margin-top: 5px;
}

#search, #lucky{
    align-items: center;
    background-color: #EEEEEE;
    display: inline;
    width:auto;
    border: solid 1px #AAAAAA;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #444444;
    padding: 5px 3px 5px 3px;
}

#search{
    margin-right: 10px;
}

#search:hover{  
    border: solid 2px #CCCCCC;
}

#lucky:hover{
    border: solid 2px #CCCCCC;
}

#searchbar{
    width: 600px;
    padding-bottom: 3px;
    padding-bottom: 3px;
    margin-bottom: 15px;
}
